<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
            <div class="navbar-brand">
                <img src="/assets/zoox_logo-header.svg" class="img-rounded" align="left" background-color="gray"  item-height="300px">
                <h2 class="navbar-text" vertical-align="bottom">HWSI Testing Framework</h2>
            </div>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav list-inline">
          <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="administration">Administration</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
              <a routerLink="testing">Testing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  


